In [164]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import Normalizer
import re
import nltk
import string , spacy
from spacy.lang.en.stop_words import STOP_WORDS
from spacy.lang.en import English
nltk.download('stopwords')
import pickle
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [165]:
df = pd.read_csv ("/Dataset.tsv", sep="\t")         #load data

In [166]:
#Drop unused columns
cols = ['rating', 'date', 'variation']
df = df.drop(cols, axis=1)

In [167]:
#Drop missing rows
df = df.dropna()

In [168]:
df.isnull()   #check missing values in each row

      verified_reviews  feedback
0                False     False
1                False     False
2                False     False
3                False     False
4                False     False
...                ...       ...
3145             False     False
3146             False     False
3147             False     False
3148             False     False
3149             False     False

[3150 rows x 2 columns]

In [169]:
df.isna().sum()    #checksum of missing values in my file

verified_reviews    0
feedback            0
dtype: int64

In [170]:
df.head()

                                    verified_reviews  feedback
0                                      Love my Echo!         1
1                                          Loved it!         1
2  Sometimes while playing a game, you can answer...         1
3  I have had a lot of fun with this thing. My 4 ...         1
4                                              Music         1

In [171]:
df.shape

(3150, 2)

In [172]:
df.feedback.value_counts()

1    2893
0     257
Name: feedback, dtype: int64

In [197]:


# Create list of punctuation 
punctuations = string.punctuation

# Create list of stopwords
nlp = spacy.load('en_core_web_sm')
stop_words = spacy.lang.en.stop_words.STOP_WORDS
# Load English tokenizer, tagger, parser, NER and word vectors
parser = English()

# Creating our clean function to make preprocessing
def clean(sentence):
    # Creating  token object
    mytokens = parser(sentence)

    # Lemmatizing each token and converting each token into lowercase and delete spaces and pronouns
    mytokens = [ word.strip().lemma_.lower().token() if word.lemma_ != "-PRON-"  else word.lower_ for word in mytokens ]

    # Removing stop words
    mytokens = [ word for word in mytokens if word not in stop_words and word not in punctuations ]

    # return preprocessed list of tokens
    return mytokens

In [206]:
X, Y = df.verified_reviews, df.feedback

#delete stopwords and most frequent words and less used words
tfidfconverter  = TfidfVectorizer( min_df=2, max_df=0.9, stop_words=stopwords.words('english'))
X_Vec = tfidfconverter.fit_transform(X)
X_Vec = pd.DataFrame.sparse.from_spmatrix(X_Vec)

print(f'The old shape for X is {X.shape}')
print(f'The new shape for X is {X_Vec.shape}')
X_Vec.head()

/usr/local/lib/python3.8/dist-packages/sklearn/feature_extraction/text.py:396: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['آمين', 'أب', 'أخ', 'أفعل', 'أفعله', 'ؤلاء', 'إل', 'إم', 'ات', 'اتان', 'ارتد', 'ان', 'انفك', 'برح', 'تان', 'تبد', 'تحو', 'تعل', 'حد', 'حم', 'حي', 'خب', 'ذار', 'سيما', 'صه', 'ظل', 'ظن', 'عد', 'قط', 'مر', 'مكان', 'مكانكن', 'نب', 'هات', 'هب', 'واها', 'وراء'] not in stop_words.
  warnings.warn(

The old shape for X is (3150,)
The new shape for X is (3150, 2514)

,0,1,2,3,4,5,6,7,8,9,...,2504,2505,2506,2507,2508,2509,2510,2511,2512,2513
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.342009,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.34985,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0

In [148]:
from sklearn.model_selection import train_test_split



X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2,random_state=42)